* {
    font-family: "Roboto";
}

body {
    background-color: #293251;
}

.container {
    width: 300px;
    background-color: #FFF;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    
}

.app-title {
    width: 300px;
    height: 50px;
    border-radius: 10px 10px 0 0;
}

.app-title p {
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    font-size: 1.4em;
    color: #293251;
}

.notification {
    background-color: #f8d7da;
    display: none;
    
}

.notification p {
    color: #721c24;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.weather-container {
    position: relative;
    width: 300px;
    height: 460px;
    background-color: #e9eff7;
    border-radius: 0 0 10px 10px;
}

.weather-icon {
    width: 300px;
    height: 128px;
}

.weather-icon img {
    display: block;
    margin: 0 auto;
}

.temperature-value {
    width: 300px;
    height: 60px;
}

.temperature-value p {
    padding: 0;
    margin: 0;
    color: #293251;
    font-size: 4em;
    text-align: center;
    cursor: pointer;
}

.temperature-value p:hover {
    background-color: #e9eff7;
}

.temperature-value span {
    color: #293251;
    font-size: 0.5em;
}



.temperature-description p {
    padding: 8px;
    margin: 0;
    color: #293251;
    text-align: center;
    font-size: 1.2em;
}


.location p {
    margin: 0;
    padding: 0;
    color: #293251;
    text-align: center;
    font-size: 0.8em;
}

.pressure,
.humidity,
.windSpeed,
.windDir,
.sunrise,
.sunset {
    padding: 8px;
    margin: 0;
    color: #293251;
    text-align: center;
    font-size: 1.0em;
}

